@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


::selection {
    background-color: #2e3448;
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #3c4359;
    background: linear-gradient(140deg, #3c4359, #000000);
}

::-webkit-scrollbar-thumb {
    background-color: #2e3448;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #232838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c4359;
    background: linear-gradient(140deg, #3c4359, #000000);
    column-gap: 30px;
}

.form {
    color: white;
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: #3c4359;

}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #000000;
    background-color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    transform: scale(1.05);
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.field .input-field span {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.form a {
    color: #ffffff;
    text-decoration: none;
}




@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

.ff {
    text-align: center;
    padding: 2rem;
}


footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}


.anim-link {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.anim-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}

.anim-link:hover::after {
    width: 100%;
}

#captcha {
    color: white;
    display: inline-block;
    background: transparent;
    border: none;
    pointer-events: none;
}
