
        #btnnn {
            margin: 1rem 1rem;
            padding: 0.5rem 1rem;

            border-radius: 25px;
            font-size: xx-large;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            background-color: #11101D;
            color: rgb(255, 255, 255);
            border: none;
            transition: transform .3s;

        }

        #btnnn:hover {
            transform: scale(1.05);
        }



  

        #info {
            text-align: center;
            color: #000000;
            font-weight: 700;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-weight: bold;
            font-size: 1.1rem;
            text-decoration: none;

            padding: 20px;
            width: 70%;
            height: 500px;
        }

        #text {
            height: 500px;
            width: 100%;
            font-weight: bold;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            background: #fff;
            resize: none;
            overflow: auto;
            border-radius: 3px;
            border: solid 3px #11101D;
        }

        #info #txt {
            float: left;
            padding: 10px;
        }

        #info #btnn {
            margin: 0.2rem;
            padding: 5px 10px;
            float: right;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            background-color: #11101D;
            color: rgb(255, 255, 255);
            border: none;
            border-radius: 25px;
            transition: transform .3s;
        }

        #info #btnn:hover {
            transform: scale(1.05);
        }

        #alert2 {
            margin: 5rem 1rem;
            color: #000;
            font-weight: bold;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            font-size: 3.5rem;
        }