<!-- 
   @{Author}: https://github.com/llx404    
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreeDrive - Register</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/906/906329.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/root.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header> <a class="anim-link">Créer un compte</a></header>
                <form method="post" action="/register">
                    <div class="field input-field">
                        <input type="email" name="mail" placeholder="Email" class="input" minlength="6" maxlength="96"
                            required>
                    </div>

                    <div class="field input-field">
                        <input id="un" type="password" name="mdp" placeholder="Mot de passe" class="password"
                            minlength="5" maxlength="30" required>
                    </div>

                    <div class="field input-field">
                        <input id="deux" type="password" name="mdp2" placeholder="Retapez le mot de passe" minlength="5"
                            maxlength="30" class="password" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">
                        <input id="txt" autocomplete="off" name="txt" type="text" placeholder="Captcha" required>
                    </div>
                    <span>Captcha: <input type="text" name="cptch" id="captcha"></span>
                    <div class="field button-field">
                        <button type="submit">Créer un compte</button>
                    </div>
                </form>

                <div class="form-link">
                    <span><a href="/login" class="link login-link anim-link">Vous avez déjà un compte ?</a></span>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- <footer class="ff">
        <a class="anim-link" target="_blank" href="https://github.com/llx404"> &#169; D&eacute;velopper par llx404</a>
    </footer> -->
    <script src="/js/password.js"></script>
    <script src="/js/captcha.js"></script>
</body>
</html>